<div class="navbar navbar-fixed-top">

  <div class="navbar-inner">
    <div class="container">
    <div class="brand">Contacts App</div>
    </div>
  </div>

</div>

<div class="container">
  <div id="contacts" class="row">
    <div class="span12">
      <div class="well">
        Filter:
        <div id="filter">
          <label>Show me:</label>
        </div>
        <a id="showForm" class="btn" href="#"><i class="icon-plus"></i>&nbsp;&nbsp;New Contact</a>
        <!-- Form to add a new contact -->
        <form id="addContact" class="form-horizontal" action="#">
          <!--NOTE!: make sure id attributes match the attributes of the contact model.
      Makes life easier that way-->
          <div class="control-group">
            <label class="control-label" for="photo">Photo:</label>
            <div class="controls">
              <input id="photo" type="file" disabled="disabled"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"  for="type">Type:</label>
            <div class="controls">
              <input id="type" type="text"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"  for="name">Name:</label>
            <div class="controls">
              <input id="name" type="text"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"  for="address">Address:</label>
            <div class="controls">
              <input id="address" type="text"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"  for="tel">Tel:</label>
            <div class="controls">
              <input id="tel" type="text"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"  for="email">Email:</label>
            <div class="controls">
              <input id="email" type="text" />
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button id="add" class="btn btn-primary">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Contact template
The {{ }} will be replace by the attributes of a Contact model -->
<!-- Use custom "type" attribute so the browser doesn't try to execute it
without a custom type it will think that it is javascript to execute -->
<script id="contactTemplate" type="text/template">
  <div class="well">
    <div class="clearfix">
    <img src="{{ photo }}" alt="{{ name }}" />
    <h1>{{ name }}</h1>
    <div>{{ address }}</div>
    </div>
    <dl>
      <dt>Type:</dt><dd>{{type}}</dd>
      <dt>Tel:</dt><dd>{{ tel }}</dd>
      <dt>Email:</dt><dd><a href="mailto:{{ email}}">{{ email }}</a></dd>
    </dl>
    <div class="edit-buttons">
      <button class="btn btn-primary edit">Edit</button>
      <button class="btn delete">Delete</button>
    </div>
  </div>
</script>

<!-- Edit contact template -->
<script id="contactEditTemplate" type="text/template">
  <div class="well">
    <form action="#">
      <input type="file" value="{{ photo }}" disabled="disabled"/>
      <input type="text" class="name" value="{{ name }}" placeholder="Name" />
      <input id="type" type="hidden" value="{{ type }}" />
      <input type="text" class="address" value="{{ address }}" placeholder="Address"/>
      <input type="text" class="tel" value="{{ tel }}" placeholder="Telephone #"/>
      <input type="text" class="email" value="{{ email }}" placeholder="Email"/>
      <div>
        <button class="btn btn-primary save">Save</button>
        <button class="btn cancel">Cancel</button>
      </div>
    </form>
  </div>
</script>

<script type="text/javascript">
  var placeHolderImagePath = "<%= asset_path 'placeholder.png' %>";
  var contacts = <%= @contacts.to_json.html_safe %>;
  var contact = <%= @contacts[0].to_json.html_safe %>;
</script>
