
<div id="contacts">
  <header>
    <div id="filter"><label>Show me:</label></div>
    <a id="showForm" href="#">Add new contact</a>
  </header>

  <!-- Form to add a new contact -->
  <form id="addContact" action="#">
    <!--NOTE!: make sure id attributes match the attributes of the contact model.
Makes life easier that way-->
    <label for="photo">Photo:</label><input id="photo" type="file" />
    <label for="type">Type:</label><input id="type" />
    <label for="name">Name:</label><input id="name" />
    <label for="address">Address:</label><input id="address" />
    <label for="tel">Tel:</label><input id="tel" />
    <label for="email">Email:</label><input id="email" />
    <button id="add">Add</button>
  </form>
</div>

<!-- Contact template
The {{ }} will be replace by the attributes of a Contact model -->
<!-- Use custom "type" attribute so the browser doesn't try to execute it
without a custom type it will think that it is javascript to execute -->
<script id="contactTemplate" type="text/template">
  <img src="{{ photo }}" alt="{{ name }}" />
  <h1>{{ name }}<span>{{ type }}</span></h1>
  <div>{{ address }}</div>
  <dl>
    <dt>Tel:</dt><dd>{{ tel }}</dd>
    <dt>Email:</dt><dd><a href="mailto:{{ email}}">{{ email }}</a></dd>
  </dl>
  <button class="delete">Delete</button>
  <button class="edit">Edit</button>
</script>

<!-- Edit contact template -->
<script id="contactEditTemplate" type="text/template">
  <form action="#">
    <input type="file" value="{{ photo }}" />
    <input class="name" value="{{ name }}" />
    <input id="type" type="hidden" value="{{ type }}" />
    <input class="address" value="{{ address }}" />
    <input class="tel" value="{{ tel }}" />
    <input class="email" value="{{ email }}" />
    <button class="save">Save</button>
    <button class="cancel">Cancel</button>
  </form>
</script>

<script type="text/javascript">
  var placeHolderImagePath = "<%= asset_path 'placeholder.png' %>";
  var contacts = <%= @contacts.to_json.html_safe %>;
  var contact = <%= @contacts[0].to_json.html_safe %>;
</script>
