// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-top: 100px;
}
.navbar .container {
  margin-top: 0;
}

.contact-container {

  .well {
    min-height: 200px;
  }

  img {
    float: left;
    margin: 0 10px 10px 0;
  }

  h1 {
    margin: 0 0 0 0;
  }

  dl {
    margin: 10px 0 0 0;
  }

  dt {
    display: inline;
  }

  dd {
    display: inline;
    margin-left: 10px;
  }

  dd:after {
    content: "\A";
    white-space: pre;
  }

  .edit-buttons {
    margin-top: 10px;
  }

}
#addContact {
  display: none;
  padding-top: 50px;
}

@media (max-width: 767px) {
  .contact-container {
    .well {
      min-height: 0;
    }
  }
}
