// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-top: 50px;
}
.navbar .container {
  margin-top: 0;
}
.navbar-inner {
  border-radius: 0px;
}

.textalignright {
  text-align: right;
}

.topspacing {
  padding-top: 5px;
}

/* CSS FOR STICKY DIV AT TOP */
#sticky {
  background-color: #fff;
  -moz-border-radius: 0.5ex;
  -webkit-border-radius: 0.5ex;
  border-radius: 0.5ex;
  color: #000;
  font-size: 2em;
  padding: 0.5ex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#sticky.stick {
  -moz-border-radius: 0 0 0.5em 0.5em;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  position: fixed;
  top: 0;
  z-index: 10000;
}
/* END CSS FOR STICKY DIV */

.contact-container {

  .well {
    min-height: 200px;
  }

  img {
    float: left;
    margin: 0 10px 10px 0;
  }

  h1 {
    margin: 0 0 0 0;
  }

  dl {
    margin: 10px 0 0 0;
  }

  dt {
    display: inline;
  }

  dd {
    display: inline;
    margin-left: 10px;
  }

  dd:after {
    content: "\A";
    white-space: pre;
  }

  .edit-buttons {
    margin-top: 10px;
  }

}
#addContact {
  display: none;
}

@media (max-width: 767px) {
  .contact-container {
    .well {
      min-height: 0;
    }
  }
}
